In [1]:
# It is convention to import Pandas with the alias pd and Numpy with the alias np
import pandas as pd
import numpy as np

# import warnings library to ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Import dataset
df = pd.read_csv('E:/Data Projects/Educational data mining with Python/HMXPC13_DI_v2_5-14-14.csv', parse_dates=['start_time_DI','last_event_DI'])

In [2]:
# Look at first 5 rows of data
df.head()

,course_id,userid_DI,registered,viewed,explored,certified,final_cc_cname_DI,LoE_DI,YoB,gender,grade,start_time_DI,last_event_DI,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
0,HarvardX/CB22x/2013_Spring,MHxPC130442623,1,0,0,0,United States,NaN,NaN,NaN,0,2012-12-19,2013-11-17,NaN,9.0,NaN,NaN,0,NaN,1.0
1,HarvardX/CS50x/2012,MHxPC130442623,1,1,0,0,United States,NaN,NaN,NaN,0,2012-10-15,NaT,NaN,9.0,NaN,1.0,0,NaN,1.0
2,HarvardX/CB22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2013-02-08,2013-11-17,NaN,16.0,NaN,NaN,0,NaN,1.0
3,HarvardX/CS50x/2012,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2012-09-17,NaT,NaN,16.0,NaN,NaN,0,NaN,1.0
4,HarvardX/ER22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,NaN,0,2012-12-19,NaT,NaN,16.0,NaN,NaN,0,NaN,1.0

In [3]:
# Look at last 5 rows of data
df.tail()

,course_id,userid_DI,registered,viewed,explored,certified,final_cc_cname_DI,LoE_DI,YoB,gender,grade,start_time_DI,last_event_DI,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
641133,MITx/6.00x/2013_Spring,MHxPC130184108,1,1,0,0,Canada,Bachelor's,1991.0,m,NaN,2013-09-07,2013-09-07,97.0,1.0,4.0,2.0,0,NaN,NaN
641134,MITx/6.00x/2013_Spring,MHxPC130359782,1,0,0,0,Other Europe,Bachelor's,1991.0,f,NaN,2013-09-07,2013-09-07,1.0,1.0,NaN,NaN,0,NaN,NaN
641135,MITx/6.002x/2013_Spring,MHxPC130098513,1,0,0,0,United States,Doctorate,1979.0,m,NaN,2013-09-07,2013-09-07,1.0,1.0,NaN,NaN,0,NaN,NaN
641136,MITx/6.00x/2013_Spring,MHxPC130098513,1,1,0,0,United States,Doctorate,1979.0,m,NaN,2013-09-07,2013-09-07,74.0,1.0,14.0,1.0,0,NaN,NaN
641137,MITx/8.02x/2013_Spring,MHxPC130098513,1,0,0,0,United States,Doctorate,1979.0,m,NaN,2013-09-07,NaT,NaN,1.0,NaN,NaN,0,NaN,1.0

# Descriptive Statistics

For numerical variables,check for minimun, maximum and average values to see if the data makes sense and I also check for outliers, if any. For categorical variables, I check for percentages with respect to each category and look for errors in categories, spelling mistakes and overlap.

In [4]:
print "Data types in the file are: \n"
print(df.dtypes)

Data types in the file are:

course_id                    object
userid_DI                    object
registered                    int64
viewed                        int64
explored                      int64
certified                     int64
final_cc_cname_DI            object
LoE_DI                       object
YoB                         float64
gender                       object
grade                        object
start_time_DI        datetime64[ns]
last_event_DI        datetime64[ns]
nevents                     float64
ndays_act                   float64
nplay_video                 float64
nchapters                   float64
nforum_posts                  int64
roles                       float64
incomplete_flag             float64
dtype: object

In [5]:
# Summary statistics
print "Summary of the input dataset: \n"
df.describe()

Summary of the input dataset:

,registered,viewed,explored,certified,YoB,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
count,641138.0,641138.000000,641138.000000,641138.000000,544533.000000,441987.000000,478395.000000,183608.000000,382385.000000,641138.000000,0.0,100161.0
mean,1.0,0.624299,0.061899,0.027587,1985.253279,431.008018,5.710254,114.844173,3.634423,0.018968,NaN,1.0
std,0.0,0.484304,0.240973,0.163786,8.891814,1516.116057,11.866471,426.996844,4.490987,0.229539,NaN,0.0
min,1.0,0.000000,0.000000,0.000000,1931.000000,1.000000,1.000000,1.000000,1.000000,0.000000,NaN,1.0
25%,1.0,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
50%,1.0,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
75%,1.0,1.000000,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN
max,1.0,1.000000,1.000000,1.000000,2013.000000,197757.000000,205.000000,98517.000000,48.000000,20.000000,NaN,1.0